
@{
    ViewBag.Title = "DataBase Test Succeeded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-success">@ViewBag.Title</h2>
<p class="alert alert-success">
    The database this application uses IS available.
</p>