    <!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>
                            Pawesome Products!
                        </h1>
                        <p>
                            Deals you'll love--we're not kitten around!
                        </p>
                        <a href="@Url.Action("Index", "Products")" class="btn_1">Shop Meow!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_img">
        <img src="~/Content/img/blackcat.jpg" alt="black cat with tongue sticking out" class="img-fluid" width="800" height="1073">
        <img src="~/Content/img/banner_pattern.png" alt="#" class="pattern_img img-fluid">
    </div>
</section>
<!-- banner part start-->
<!-- product list start-->
<section class="single_product_list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_product_img">
                                <img src="~/Content/img/whitecat.jpg" class="img-fluid" alt="white cat eating food from bowl">
                                <img src="~/Content/img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Starting from $10</h5>
                                <h2>
                                    We have a variety of delicious, high quality cat food
                                </h2>
                                <a href="@Url.Action("Index", "Products")" class="btn_3">Explore Meow!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_product_iner">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_product_img">
                                <img src="~/Content/img/depositphotos_89429838-stock-photo-closed-cat-litter-box.jpg" class="img-fluid" alt="cat entering litter box" height="500" width="300">
                                <img src="~/Content/img/product_overlay.png" alt="#" height="200" width="200" class="product_overlay img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="single_product_content">
                                <h5>Starting from $10</h5>
                                <h2>
                                    We carry litter-ally the best litter
                                </h2>
                                <a href="@Url.Action("Index", "Products")" class="btn_3">Explore Meow!</a>
                            </div>
                        </div>

                        <div class="single_product_iner">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single_product_img">
                                        <img src="~/Content/img/cattree.jpg" class="img-fluid" alt="white cat eating food from bowl" height="250" width="350">
                                        <img src="~/Content/img/product_overlay.png" alt="#" class="product_overlay img-fluid">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-sm-6">
                                    <div class="single_product_content">
                                        <h5>Starting from $20</h5>
                                        <h2>
                                            Clawsome scratch posts and furr-niture for your darlings
                                        </h2>
                                        <a href="@Url.Action("Index", "Products")" class="btn_3">Explore Meow!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- product list end-->
<!-- client review part here -->
<section class="client_review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="~/Content/img/test1.jpg" alt="woman holding kitten">
                        </div>
                        <p>"MeowMart is a lifesaver! Between saving money with their great prices and easily finding high-quality food and litter for my kitten, Frederick, we are happy customers." </p>
                        <h5>-Hailey B</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="~/Content/img/test2.jpg" alt="cat receiving chin scratches">
                        </div>
                        <p>"With MeowMart's auto-ship options, getting my cat's essentials is a no-brainer. Everything is delivered straight to my door for my little Anna."</p>
                        <h5>-Erin M</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="~/Content/img/test3.jpg" alt="#">
                        </div>
                        <p>"I love checking MeowMart's page, they always have the funnest cat toys and costumes in stock. As a pet photographer, I order all my props and outfits from here. Fast shipping and great customer service!"</p>
                        <h5>-Joseph W</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client review part end -->
